@media screen and (max-width: 1000px) {
  main .favorite-animal {
    padding-top: 82px;
    margin-top: -80px;
    background: url("../assets/small/Giant_Panda-sd.png") no-repeat center center;
    background-size: cover;
    min-height: 584px;
  }
  main .favorite-animal .wrap-inner .left-side-box {
    width: 400px;
    position: relative;
    padding-top: 74px;
    text-align: center;
  }
  main .favorite-animal .wrap-inner .left-side-box:before {
    top: -12px;
    left: -114px;
    width: 367px;
    height: 367px;
    background: url("../assets/Ellipse.png") center center;
  }
  main .favorite-animal .wrap-inner .left-side-box .favorite-heading {
    font-size: 85px;
    color: #FFFFFF;
    line-height: 64px;
    position: relative;
    left: -56px;
    top: -34px;
    margin: 0 0 7px;
    font-weight: 700;
  }
  main .favorite-animal .wrap-inner .left-side-box .favorite-heading span {
    color: #FFEE2E;
  }
  main .favorite-animal .wrap-inner .left-side-box .front-link {
    position: relative;
    left: -14%;
  }
  main .backstage {
    padding-top: 108px;
    padding-bottom: 108px;
    background-size: 0%;
    margin-bottom: 47px;
  }
  main .backstage .img-block {
    background: url("../assets/small/bamboo-cap-sd.png") no-repeat center center;
    width: 455px;
    height: 408px;
    margin-right: 85px;
  }
  main .backstage .text-block {
    width: 454px;
    padding-left: 0;
    position: relative;
    top: -10px;
    left: 0px;
  }
  main .backstage .text-block .backstage-text {
    width: 454px;
    position: relative;
    top: 22px;
  }
  main .backstage .text-block .backstage-text.backstage-text-first {
    position: relative;
    top: 8px;
  }
  main .backstage .text-block .backstage-sub-heading {
    position: relative;
    top: 14px;
  }
  main .pets {
    background: url(../assets/small/palm_foto-sd.png) no-repeat left bottom, url(../assets/strelitzia.png) no-repeat right bottom;
    background-size: 19%, 24%;
    padding-bottom: 140px;
  }
  main .donation {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  main .donation .wrap-inner {
    padding: 30px 48px 50px;
  }
  main .donation .wrap-inner .donation-heading {
    margin-bottom: 20px;
  }
  main .donation .wrap-inner .donation-sub-heading {
    margin: 0 0 19px;
  }
  main .donation .wrap-inner .donation-strong-text {
    margin-top: 0;
    white-space: normal;
    padding-right: 30px;
  }
  main .donation .wrap-inner .donation-text {
    height: 40px;
    margin-bottom: 41px;
    width: 100%;
  }
  main .donation .wrap-inner .payment-steps {
    margin-bottom: 73px;
  }
  main .donation .wrap-inner .payment-info-heading {
    margin: 0 0 41px;
  }
  main .testimonials {
    padding-top: 100px;
    padding-bottom: 140px;
    background: url(../assets/leav_foto_v2.png) no-repeat right 117%;
    background-size: 20%;
  }
  main .testimonials .testimonials-heading {
    margin-bottom: 32px;
  }
  main .testimonials .testimonials-block .progress-nav-wrap {
    width: 390px;
    left: -5px;
    margin-bottom: 52px;
  }
  main .testimonials .testimonials-block .progress-nav-wrap .progress-btn {
    width: 75px;
  }
  main .testimonials .testimonials-block .testimonials-list {
    margin-bottom: 22px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item {
    width: 31%;
    height: 387px;
    padding: 15px 17px 17px 12px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(n+4) {
    display: none;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(2) {
    padding: 8px 21px 19px 15px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(2) .testimonials-head {
    margin-bottom: 19px;
    padding-left: 41px;
  }
}

/*# sourceMappingURL=main-small-desk.css.map */
