@charset "UTF-8";
main .favorite-animal {
  padding-top: 92px;
  margin-top: -80px;
  background: url("../assets/Giant_Panda.png") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  min-height: 780px;
}
main .favorite-animal .wrap-inner {
  display: flex;
  justify-content: flex-end;
}
main .favorite-animal .wrap-inner .left-side-box {
  width: 500px;
  position: relative;
  padding-top: 75px;
  text-align: center;
}
main .favorite-animal .wrap-inner .left-side-box:before {
  top: 0;
  left: -75px;
  content: "";
  width: 465px;
  height: 465px;
  position: absolute;
  background: url("../assets/Ellipse.png");
  z-index: 0;
  border-radius: 100%;
}
main .favorite-animal .wrap-inner .left-side-box .favorite-heading {
  font-size: 106px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 80px;
  position: relative;
  margin: 0 0 60px;
  font-weight: 700;
}
main .favorite-animal .wrap-inner .left-side-box .favorite-heading span {
  color: #FFEE2E;
}
main .backstage {
  padding: 140px 0;
  margin-bottom: 42px;
  background: url("../assets/flower_foto1.png") no-repeat right center;
}
main .backstage .img-block {
  background: url("../assets/bamboo-cap.png") no-repeat center center;
  width: 609px;
  height: 403px;
}
main .backstage .text-block {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding-left: 0px;
  margin-left: -57px;
  position: relative;
  left: 144px;
}
main .backstage .text-block > * {
  margin: 0;
}
main .backstage .text-block .backstage-heading {
  font-size: 48px;
  line-height: 58px;
  color: #333B41;
  font-weight: normal;
}
main .backstage .text-block .backstage-sub-heading {
  width: 465px;
  font-size: 24px;
  line-height: 29px;
  color: #333B41;
  margin-top: 20px;
}
main .backstage .text-block .backstage-text-first {
  margin-top: -14px;
}
main .backstage .text-block .backstage-text {
  width: 465px;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
}
main .pets {
  padding-bottom: 97px;
  background: url("../assets/palm_foto.png") no-repeat left bottom, url("../assets/strelitzia.png") no-repeat right bottom;
}
main .pets .link-wrap-choose {
  margin-top: -23px;
}
main .donation {
  padding: 70px 0 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
main .donation .wrap-inner {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 40px 100px 60px;
  box-sizing: border-box;
}
main .donation .wrap-inner .donation-heading {
  letter-spacing: -0.2px;
  font-size: 48px;
  text-align: center;
  color: #FE9013;
  margin: 0 0px 30px;
  padding-left: 10px;
  padding-right: 6px;
}
main .donation .wrap-inner .donation-sub-heading {
  font-size: 24px;
  color: #333B41;
  padding: 0;
  margin-bottom: 41px;
}
main .donation .wrap-inner .donation-strong-text {
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  color: #333B41;
  margin-top: 13px;
  margin-bottom: 0;
  white-space: nowrap;
}
main .donation .wrap-inner .donation-text {
  color: #333B41;
  font-size: 16px;
  margin-top: 13px;
  margin-bottom: 0;
  width: 90%;
}
main .donation .wrap-inner .br {
  margin: 0;
}
main .donation .wrap-inner .donation-link {
  margin: 0 0 60px;
  color: #333B41;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
}
main .donation .wrap-inner .donation-link:hover {
  border-color: #4B9200;
}
main .donation .wrap-inner .payment-info-heading {
  text-align: center;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  margin: 0 0 39px;
  font-weight: normal;
}
main .donation .wrap-inner .payment-steps {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
  padding-left: 0;
}
main .donation .wrap-inner .payment-steps .payment-step {
  list-style: none;
}
main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1) {
  padding: 0 130px;
  position: relative;
}
main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):after, main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):before {
  content: "";
  position: absolute;
  top: 60px;
  color: #FFFFFF;
  background: url("../assets/step-arrow.svg") no-repeat center center;
  width: 70px;
  height: 36px;
}
main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):after {
  left: 31px;
  top: 64px;
}
main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):before {
  right: 31px;
}
main .donation .wrap-inner .payment-steps .payment-step.step-1 .step-icon {
  background: url("../assets/pay.png") no-repeat center center, #FFFFFF;
}
main .donation .wrap-inner .payment-steps .payment-step.step-2 .step-icon {
  background: url("../assets/zoo.png") no-repeat center center, #FFFFFF;
}
main .donation .wrap-inner .payment-steps .payment-step.step-3 .step-icon {
  background: url("../assets/monkey.png") no-repeat center center, #FFFFFF;
}
main .donation .wrap-inner .payment-steps .step-info {
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
  max-width: 168px;
}
main .donation .wrap-inner .payment-steps .step-icon {
  width: 168px;
  height: 168px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  border-image-slice: 1;
  position: relative;
  box-sizing: border-box;
}
main .donation .wrap-inner .payment-steps .step-icon:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #F9804B, #FE9013);
}
main .testimonials {
  padding: 140px 0 180px;
  background: url("../assets/leav_foto_v2.png") no-repeat right 126%;
}
main .testimonials .testimonials-heading {
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #333B41;
  font-weight: normal;
  margin: 0 0 47px;
}
main .testimonials .testimonials-block {
  margin-bottom: 30px;
}
main .testimonials .testimonials-block .progress-nav-wrap {
  width: 600px;
  background: #F5F7F6;
  border-radius: 5px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-image-slice: 1;
  position: relative;
}
main .testimonials .testimonials-block .progress-nav-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
main .testimonials .testimonials-block .progress-nav-wrap .progress-btn {
  background: #FE9013;
  border-radius: 5px;
  height: 8px;
  width: 115px;
  cursor: pointer;
  position: absolute;
  top: -1px;
}
main .testimonials .testimonials-block .testimonials-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 20px;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item {
  list-style: none;
  width: 264px;
  background: #F1F3F2;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 15px 12px 19px;
  border: 2px solid transparent;
  border-image-slice: 1;
  position: relative;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  border-radius: inherit;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(2) {
  padding: 15px 11px 19px;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head {
  position: relative;
  padding-left: 47px;
  margin-bottom: 10px;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head .testimonials-avatar {
  width: 37px;
  height: 37px;
  position: absolute;
  left: 0;
  top: 0;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head .testimonials-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
  padding: 0;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head .testimonials-info {
  display: flex;
  justify-content: left;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head .testimonials-info .testimonials-local,
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head .testimonials-info .testimonials-data {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBD;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head .testimonials-info .testimonials-local {
  position: relative;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head .testimonials-info .testimonials-local:after {
  content: "•";
  padding: 0 5px;
}
main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-text {
  max-height: 308px;
  overflow: hidden;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767474;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 640px) {
  .left-side-box:before {
    width: 267px;
    height: 267px;
  }
}
@media screen and (max-width: 1000px) {
  main .favorite-animal {
    padding-top: 82px;
    margin-top: -80px;
    background: url("../assets/small/Giant_Panda-sd.png") no-repeat center center;
    background-size: cover;
    min-height: 584px;
  }
  main .favorite-animal .wrap-inner .left-side-box {
    width: 400px;
    position: relative;
    padding-top: 74px;
    text-align: center;
  }
  main .favorite-animal .wrap-inner .left-side-box:before {
    top: -12px;
    left: -114px;
    width: 367px;
    height: 367px;
    background: url("../assets/Ellipse.png") center center;
  }
  main .favorite-animal .wrap-inner .left-side-box .favorite-heading {
    font-size: 85px;
    color: #FFFFFF;
    line-height: 64px;
    position: relative;
    left: -56px;
    top: -34px;
    margin: 0 0 7px;
    font-weight: 700;
  }
  main .favorite-animal .wrap-inner .left-side-box .favorite-heading span {
    color: #FFEE2E;
  }
  main .favorite-animal .wrap-inner .left-side-box .front-link {
    position: relative;
    left: -14%;
  }
  main .backstage {
    padding-top: 108px;
    padding-bottom: 108px;
    background-size: 0%;
    margin-bottom: 47px;
  }
  main .backstage .img-block {
    background: url("../assets/small/bamboo-cap-sd.png") no-repeat center center;
    width: 455px;
    height: 408px;
    margin-right: 85px;
  }
  main .backstage .text-block {
    width: 454px;
    padding-left: 0;
    position: relative;
    top: -10px;
    left: 0px;
  }
  main .backstage .text-block .backstage-text {
    width: 454px;
    position: relative;
    top: 22px;
  }
  main .backstage .text-block .backstage-text.backstage-text-first {
    position: relative;
    top: 8px;
  }
  main .backstage .text-block .backstage-sub-heading {
    position: relative;
    top: 14px;
  }
  main .pets {
    background: url(../assets/small/palm_foto-sd.png) no-repeat left bottom, url(../assets/strelitzia.png) no-repeat right bottom;
    background-size: 19%, 24%;
    padding-bottom: 140px;
  }
  main .donation {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  main .donation .wrap-inner {
    padding: 30px 48px 50px;
  }
  main .donation .wrap-inner .donation-heading {
    margin-bottom: 20px;
  }
  main .donation .wrap-inner .donation-sub-heading {
    margin: 0 0 19px;
  }
  main .donation .wrap-inner .donation-strong-text {
    margin-top: 0;
    white-space: normal;
    padding-right: 30px;
  }
  main .donation .wrap-inner .donation-text {
    height: 40px;
    margin-bottom: 41px;
    width: 100%;
  }
  main .donation .wrap-inner .payment-steps {
    margin-bottom: 73px;
  }
  main .donation .wrap-inner .payment-info-heading {
    margin: 0 0 41px;
  }
  main .testimonials {
    padding-top: 100px;
    padding-bottom: 140px;
    background: url(../assets/leav_foto_v2.png) no-repeat right 117%;
    background-size: 20%;
  }
  main .testimonials .testimonials-heading {
    margin-bottom: 32px;
  }
  main .testimonials .testimonials-block .progress-nav-wrap {
    width: 390px;
    left: -5px;
    margin-bottom: 52px;
  }
  main .testimonials .testimonials-block .progress-nav-wrap .progress-btn {
    width: 75px;
  }
  main .testimonials .testimonials-block .testimonials-list {
    margin-bottom: 22px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item {
    width: 31%;
    height: 387px;
    padding: 15px 17px 17px 12px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(n+4) {
    display: none;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(2) {
    padding: 8px 21px 19px 15px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(2) .testimonials-head {
    margin-bottom: 19px;
    padding-left: 41px;
  }
}
@media screen and (max-width: 640px) {
  main {
    padding-top: 34px;
  }
}
@media screen and (max-width: 640px) {
  main .favorite-animal {
    min-height: 373px;
    margin-top: -82px;
  }
  main .favorite-animal .wrap-inner .left-side-box {
    padding-top: 75px;
  }
  main .favorite-animal .wrap-inner .left-side-box:before {
    width: 237px;
    height: 237px;
    top: 10px;
    left: 111px;
  }
  main .favorite-animal .wrap-inner .left-side-box .favorite-heading {
    font-size: 54px;
    font-weight: bold;
    line-height: 41px;
    /* or 41px */
    text-align: center;
    width: 255px;
    left: 150px;
    top: -29px;
    margin: 0 0 5px;
  }
  main .favorite-animal .wrap-inner .left-side-box .front-link {
    bottom: 40px;
    left: -250px;
  }
  main .backstage {
    padding: 70px 0;
    background: url(../assets/flower_foto1.png) no-repeat 106% 35%;
    background-size: 25%;
    margin-bottom: 0;
  }
  main .backstage .two-column-row {
    display: flex;
    position: relative;
    left: 60px;
  }
  main .backstage .two-column-row .img-block {
    display: none;
  }
  main .backstage .two-column-row .backstage-heading {
    margin-bottom: 26px;
  }
  main .backstage .two-column-row .backstage-text {
    width: 490px;
    top: 36px;
  }
  main .backstage .two-column-row .backstage-text:nth-child(2) {
    top: 8px;
    width: 454px;
  }
  main .pets {
    padding-bottom: 40px;
    background: url(../assets/small/palm_foto-sd.png) no-repeat -13% 100%, url(../assets/strelitzia.png) no-repeat right bottom;
    background-size: 30%, 27%;
  }
  main .pets .wrap-inner {
    max-width: 600px;
    padding: 38px 0 60px;
  }
  main .donation {
    padding: 20px 0;
  }
  main .donation .wrap-inner {
    padding: 10px 20px 61px;
    max-width: 640px;
  }
  main .donation .wrap-inner .donation-heading {
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
  }
  main .donation .wrap-inner .donation-sub-heading {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  main .donation .wrap-inner .donation-strong-text {
    padding-right: 13px;
  }
  main .donation .wrap-inner .donation-text {
    margin-bottom: 30px;
  }
  main .donation .wrap-inner .payment-info-heading {
    margin: 0 0 20px;
  }
  main .donation .wrap-inner .payment-steps {
    margin-bottom: 45px;
    position: relative;
    left: -6px;
  }
  main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1) {
    padding: 0 42px;
  }
  main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):after {
    left: -31px;
  }
  main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):before {
    right: -13px;
  }
  main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):after, main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):before {
    background: url(../assets/small/arrow-tablet.png) no-repeat center center;
    z-index: 1;
    background-size: 100%;
    width: 89px;
    top: -19px;
  }
  main .testimonials {
    padding: 60px 0 80px;
    background: url(../assets/leav_foto_v2.png) no-repeat 102% 116%;
    background-size: 20%;
  }
  main .testimonials .testimonials-block .testimonials-list {
    flex-direction: column;
    margin-bottom: 6.5%;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item {
    width: 100%;
    height: 105px;
    margin-bottom: 20px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(2) {
    padding: 5px 21px 19px 19px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(2) .testimonials-head {
    margin-bottom: 12px;
    padding-left: 35px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(2) .testimonials-head .testimonials-avatar {
    left: -9px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(3) {
    margin-bottom: 0;
    padding-top: 8px;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-text {
    height: 35px;
  }
  main .testimonials .testimonials-block .progress-nav-wrap {
    display: none;
  }
  main .testimonials .front-link.secondary {
    width: 240px;
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 320px) {
  main .favorite-animal {
    min-height: 187px;
    margin-top: -80px;
  }
  main .favorite-animal .wrap-inner .left-side-box:before {
    width: 119px;
    height: 119px;
    top: 12%;
    left: 51%;
  }
  main .favorite-animal .wrap-inner .left-side-box .favorite-heading {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    width: 128px;
    left: 172px;
    top: -34px;
  }
  main .favorite-animal .wrap-inner .left-side-box .front-link {
    position: absolute;
    bottom: -40%;
    left: 0%;
  }
  main .backstage {
    padding-top: 36%;
    padding-bottom: 3%;
    background: url(../assets/flower_foto1.png) no-repeat 116% 16%;
    background-size: 22%;
  }
  main .backstage .two-column-row .backstage-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    width: 75%;
    margin-bottom: 3%;
  }
  main .backstage .two-column-row .backstage-text {
    width: 65%;
    top: 4%;
  }
  main .backstage .two-column-row .backstage-text:nth-child(2) {
    top: 3%;
    width: 66%;
  }
  main .backstage .two-column-row .backstage-sub-heading {
    top: 2%;
  }
  main .pets {
    padding-bottom: 0%;
    background: url(../assets/small/palm_foto-sd.png) no-repeat -5% 100%, url(../assets/strelitzia.png) no-repeat 108% bottom;
    background-size: 23%, 27%;
  }
  main .pets .link-wrap-choose {
    margin-top: 0%;
  }
  main .donation {
    padding: 7% 3%;
  }
  main .donation .wrap-inner {
    padding: 6% 0% 12%;
  }
  main .donation .wrap-inner .donation-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 4%;
  }
  main .donation .wrap-inner .donation-sub-heading {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  main .donation .wrap-inner .donation-strong-text, main .donation .wrap-inner .donation-text {
    display: none;
  }
  main .donation .wrap-inner .payment-info-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
  }
  main .donation .wrap-inner .payment-steps {
    flex-direction: column;
    left: 22%;
    margin-bottom: 0;
  }
  main .donation .wrap-inner .payment-steps .payment-step {
    margin-bottom: 14%;
  }
  main .donation .wrap-inner .payment-steps .payment-step.step-2 {
    margin-bottom: 10%;
  }
  main .donation .wrap-inner .payment-steps .payment-step .step-icon {
    width: 56%;
    margin-bottom: 3%;
  }
  main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1) {
    padding: 0;
  }
  main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):before, main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):after {
    transform: rotate(85.06deg);
    width: 30%;
    left: 46%;
  }
  main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):after {
    top: -24%;
  }
  main .donation .wrap-inner .payment-steps .payment-step:nth-child(3n-1):before {
    top: 88%;
  }
  main .testimonials {
    padding: 10% 0 19%;
    background: url(../assets/leav_foto_v2.png) no-repeat 101% 108%;
    background-size: 20%;
  }
  main .testimonials .testimonials-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 6%;
  }
  main .testimonials .testimonials-block .testimonials-list {
    margin-bottom: 10%;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:first-child {
    padding: 3% 4% 3% 5%;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item:nth-child(3) .testimonials-head {
    padding-left: 16%;
  }
  main .testimonials .testimonials-block .testimonials-list .testimonials-item .testimonials-head {
    padding-left: 15%;
    margin-bottom: 4%;
  }
}

/*# sourceMappingURL=main.css.map */
