@import 'header';
@import 'footer';
@import 'general';

@media screen and (max-width: 1599px) {
  // to general
  main {
    .wrap-inner {
      padding: 0 30px;
    }
  }

  main {

    .donate-banner {
      min-height: 390px;
    }

    .donate-block {
      padding-bottom: 30px;

      .donate-main-heading {
        width: 85%;
        margin-bottom: 3%;
      }

      .donate-sub-text {
        margin-bottom: 5%;
      }

      .donate-sub-heading {
        margin-bottom: 40px;
      }

      .donate-info-block {
        padding: 20px 45px 45px;

        .donate-info-heading {
          margin-bottom: 1%;
        }

        .donate-info-sub-text {
          margin-bottom: 7.5%;
        }

        .donate-widget {

          .donate-view {
            margin-bottom: 5.5%;
          }

          .donate-form {
            .donate-form-row-center {
              padding-top: 6px;
            }

            .donate-form-row {
              .donate-form-input-text {
                margin-left: -20px;
              }
            }

          }

          .donate-controller {
            .donate-controller-heading {
              margin: 0 20px 17px;
            }

            .donate-points-list {
              margin: 0 20px;
              padding: 8px 9px 9px 12px;

              &:after {
                left: 2%;
                width: 96%;
              }

              .donate-point {
                &:first-child {
                  display: none;
                }

                label {
                  span {
                    left: -140%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1000px) {

  footer {
    padding-top: 4.5%;
  }
}


@media screen and (max-width: 999px) {
  main {
    .donate-banner {
      min-height: 335px;
    }

    .donate-block {
      padding-top: 30px;

      .donate-main-heading {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 29px;
      }

      .donate-sub-text {
        margin-bottom: 30px;
      }

      .donate-sub-heading {
        margin-bottom: 30px;
      }

      .donate-info-block {
        padding: 30px 0;

        .donate-info-heading {
          text-align: center;
        }

        .donate-info-sub-text {
          text-align: center;
          padding: 0 30px;
        }

        .donate-widget {
          .donate-form {
            .donate-form-row {
              .donate-form-input-text {
                margin-left: 10px;
                width: 180px;
              }
            }

            .donate-form-row-center {
              padding-top: 40px;
              margin-bottom: 30px;
            }
          }

          .donate-controller {
            .donate-points-list {
              margin: 0;
              padding: 8px 35px 9px 35px;

              &:after {
                left: 35px;
                right: 35px;
              }

              .donate-point {
                &:nth-child(-n+2) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}


