footer {
  background: #111115;
  padding: 45px 0;

  .wrap-inner {
    position: relative;
    top: -5px;
  }

  &[data-theme="eagle"] {
    padding: 45px;
  }

  .footer-title {
    margin: 0;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position: relative;

    &:after {
      content: '';
      width: 12px;
      height: 21px;
      background: url("../assets/bamboo.svg");
      position: absolute;
      top: 19px;
      left: 9px;
    }
  }


  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;

    .subscribe-block {
      position: relative;
      left: 5px;
      .subscribe-heading {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin: 0 0 12px;
        //padding-left: 5px;
      }

      .subscribe-email-field {
        width: 228px;
        height: 42px;
        box-sizing: border-box;
        padding: 10px;
        background: transparent;
        color: #BDBDBD;
        border-right: 1px solid #FE9013;
        border-top: 1px solid #F9804B;
        border-bottom: 1px solid #F9804B;
        border-left: 1px solid #F9804B;
        border-radius: 2px;
        outline: none;
        margin-right: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;

        &:focus {
          border-color: #4B9200;
        }

        &:invalid {
          color: #D31414;
          border-color: #D31414;

          &+button {
            border: 1px solid #D31414;
          }
        }

        &:valid {
          &+button {
            border: 1px solid #333B41;
            color: #000000;

            &:active {
              outline:none;
              box-sizing: border-box;
              border-radius: 5px;
              border: 1px solid #4B9200;
              color: #4B9200;
            }
          }
        }
      }

      .subscribe-email-btn {
        margin-right: 5px;
        background: #F1F3F2;
        border: 1px solid #D31414;
        box-sizing: border-box;
        color: #D31414;
        border-radius: 5px;
        height: 42px;
        width: 129px;
        cursor: pointer;
        outline:none;
        font-size: 16px;

        &:active {
          outline:none;
          box-sizing: border-box;
          border-radius: 5px;
          border: 1px solid #D31414;
          color: #D31414;

        }

        &:active +  &:invalid{
          outline:none;
          box-sizing: border-box;
          border-radius: 5px;
          border: 1px solid #4B9200;
          color: #4B9200;
        }

      }
    }
  }

  .footer-center {
    margin-bottom: 44px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .social-list {
      padding: 0;
      margin: 0;

      .social-item {
        list-style: none;

        position: relative;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .social-link {
          text-decoration: none;
          font-size: 16px;
          color: #FFFFFF;
          display: inline-block;
          line-height: 26px;
          padding-left: 38px;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 26px;
            height: 26px;
            border-radius: 100%;
          }

          &.facebook:after {
            background: url("../assets/facebook.svg") no-repeat center center, rgba(196, 196, 196, 0.5);
          }
          &.facebook:hover {
            &:after {
              background: url("../assets/facebook.svg") no-repeat center center, #4B9200;
            }
          }

          &.twitter:after {
            background: url("../assets/twitter.svg") no-repeat center center, rgba(196, 196, 196, 0.5);
          }
          &.twitter:hover {
            &:after {
              background: url("../assets/twitter.svg") no-repeat center center, #4B9200;
            }
          }

          &.instagram:after {
            background: url("../assets/instagram.svg") no-repeat center center, rgba(196, 196, 196, 0.5);
          }
          &.instagram:hover {
            &:after {
              background: url("../assets/instagram.svg") no-repeat center center, #4B9200;
            }
          }
          &.youTube:after {
            background: url("../assets/youTube.svg") no-repeat center center, rgba(196, 196, 196, 0.5);
          }
          &.youTube:hover {
            &:after {
              background: url("../assets/youTube.svg") no-repeat center center, #4B9200;
            }
          }

          &:hover {
              color: #4B9200;
          }
        }
      }
    }

    .footer-menu {
      display: flex;
      margin-bottom: 0px;
      margin-left: 30px;
      padding-left: 30px;

      .footer-menu-item {
        list-style: none;
        margin-left: 58px;
      }

      .footer-menu-link {
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        text-decoration: none;

        &.active {
          color: #F9804B;
          cursor: default;
        }

        &:active, &:hover {
          color: #F9804B;
        }
      }
    }

      .copy-right-block:hover, .copy-right-block:active {
        .copy-right-text {
          color: #4B9200;
          text-decoration: underline solid #4B9200;
        }
      }

    .copy-right-text {
      font-size: 16px;
      line-height: 21px;
      color: #FFFFFF;
      font-weight: 200;
      margin-bottom: 0;
      margin-top: 16px;
    }
  }
}

@import "footer-small-desk";