
@media screen and (max-width: 800px) {

  footer {
    padding: 0;

    .wrap-inner {
      padding: 12px 20px;
      box-sizing: border-box;
      overflow: hidden;
      top: 0;
      margin: 0;
      min-width: 100%;
    }

    .footer-top {
      padding-left: 0px;
      margin-bottom: 32px;

      .subscribe-block {
       display: none;
      }
    }

    .footer-center {
      margin-bottom: 55px;
      padding-left: 0;
    }

    .footer-bottom {
      padding-left: 0px;
      position: relative;

      .social-list {
        padding: 0;
        margin: 0;
        position: absolute;
        right: -11px;
        bottom: 93px;
        height: 165px;

        .social-item {
          margin-bottom: 16px;

          .social-link {
            width: 0;
            overflow: hidden;
          }

          &:last-child {
            margin-top: 0;
          }
        }
      }

      .footer-menu {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;

        .footer-menu-item {
          margin-left: 36px;
        }
      }

      .copy-right-block {
        left: 0;
      }
    }
  }
}

