@media screen and (max-width: 320px) {
  header {
    height: 34px;
    padding: 0;

    .wrap-inner {
      margin: auto;
      overflow: hidden;
    }

    .logo {
      width: 47px;
      border: none;

      h1 {

        &:after {
          background-size: 87%;
          position: absolute;
          top: 10px;
          left: 1px;
        }
      }
    }
  }
}

